body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #da291c;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #da291c;
    border-color: black;
  }
  .countdown{
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width:30vw;
    margin: 15px auto;
    padding:10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .logo-fondo{
    position: fixed;
    width: 90%;
    margin: 5%;
    z-index: -1;
  }
  .main {
    height: 25vh;
    margin-top: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .instrucciones-body{
    padding: 25px;
  }
  .instrucciones-body img{
    width: 100%;
  }

  .instrucciones-footer {
    padding: 10px;
    text-align: center;
  }
  .instrucciones-boton{
    text-align: center;
    width: 100%;
  }
  
  .playerChoise {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffc72c;
    width: 35%;
    margin: 2.5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .playerChoise img {
    width: 50px;
  }

  .computerChoise {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #27251f;
    width: 35%;
    margin: 2.5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .computerChoise img{
    width: 50px;
  }

  .option {
    background-color:rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: 3px solid transparent;
  }
  
  .playerChoise .option:hover {
    border: 3px solid black;
  }
  
  .option i {
    font-size: 50px;
  }
  
  .score {
    width: 20vh;
    height: 15vh;
    margin: 2.5%;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);;
    color: #FFF;
    border-radius: 50%;
  }
  